

body {
    background-color: lightcyan;
    font-family: 'Sora', sans-serif;
    max-width: 1200px;
    margin:auto;
    font-size: 20px;
}
header:hover{
    background-color: rgb(255, 175, 223);
}
header {
    background-color: rgb(195, 243, 243);
    color: green;
    font-size: 20px;
    font-family: 'Sora', sans-serif;
    width: 300px;
    position:fixed;
    top: 50px;
    left:25px;
}


a {
    text-decoration: none;
    color:rgb(242, 196, 222);
}

nav:hover{
    background-color: rgb(255, 175, 223);
}
nav {
    background-color: rgb(195, 243, 243);
    font-size: 15px;
    color: green;
    font-family: 'Sora', sans-serif;
    width: 300px;
    position:fixed;
    left: 25px;
}

nav h1 {
    top:400px; 
}

nav h2 {
    top: 200px;
}

main {
    text-align: center;
    color: green;
    font-size: 20px;
    font-family: 'Sora', sans-serif;
    width: 650px;
    margin-left: 500px;
    padding: 50px;
    height: 300px;

}

main p {
    font-size: 40pt;
}

section:hover{
    background-color: rgb(255, 139, 205);
}
section {
    background-color: rgb(195, 243, 243);
    color: green;
    border: 1px black;
    margin-top: 25px;
    text-align: center;
    padding: 15px;
    font-family: 'Sora', sans-serif;
}

section p{
    font-size: 15pt;
}

section p2 {
    font-size: 10pt;
    text-align: left;
}

Section p3 {
    font-size: 50pt;
}

section img:hover{
    background-color: rgb(255, 175, 223);
}

section img {
    background-color: rgb(195, 243, 243);
    color: green;
    border: 1px black;
    padding: 5px;
    font-family: 'Sora', sans-serif;
}
footer:hover{
    background-color: rgb(255, 175, 223);
}
footer {
    background-color: rgb(195, 243, 243);
    color: green;
    font-family: 'Sora', sans-serif;
    width: 300px;
    position:fixed;
    bottom: 50px;
    left: 25px;
}
